// General styles 
@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../node_modules/font-awesome/fonts/FontAwesome.otf");
}

// Font-awesome
@import "../node_modules/font-awesome/scss/font-awesome.scss";

@mixin icon($icon: "\f1fd", $size: 20px, $margin-r: 5px, $margin-l: 5px) {
  font-family: FontAwesome;
  margin-right: $margin-r;
  margin-left: $margin-l;
  font-size: $size;
  content: $icon;
}

// Colors
$lightblue: rgb(120, 150, 235);
$darkblue: rgb(60, 80, 180);

body{
  font-size: 10%;
}

.container{
  background-color: rgb(235, 235, 235);
}

li{
  list-style: none;
}

#presentation{
  background-color: $darkblue;
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;
  height: 30rem;
  border-right: 0.2rem solid lightgray;
  #profil{
    margin-top: 2rem;
    text-align: center;
    img{
      background-color: white;
      padding: 0.5rem;
    }
  }
  h1{
    font-family: Arial, Helvetica, sans-serif;
  }
  #accroche{
    font-style: italic;
    text-align: justify;
    margin-right: 5%;
    margin-top: 5%;
    font-size: 1.8rem;
  }
}

#coordonnees{
  background-color: $darkblue;
  color:white;
  padding-top: 5%;
  height: 30rem;
  li{
    font-size: 2rem;
    margin: 0.5rem;
  }
  #mail::before{
    @include icon("\f0e0", 2rem, 2.3rem, 0px); 
  }  
  #tel::before{
    @include icon("\f095", 2rem, 2.6rem, 0px);
  }  
  #address::before{
    @include icon("\f015", 2rem, 2.3rem, 0px);
  }  
  #birthdate::before{
    @include icon("\f1fd", 2rem, 2.2rem, 0px);
  }  
  #driving::before{
    @include icon("\f2c2", 2rem, 2rem, 0px);
  }
}

#corp{
  h1{
    background-color: $darkblue;
    color: white;
    border-radius: 1.8rem;
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .logo-compagnies{
    width: 10.5rem;
    height: 3.75rem;
    border: solid black 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1px;
    padding-right: 1px;
    background-color: white;
    border-radius: 1px;
    box-shadow: 1px 2px 4px black;
  }
  #experiences::before{
    @include icon("\f0b1", 2.5rem);
    margin-right: 20px;
  }  
  #formation::before{
    @include icon("\f19d", 2.5rem);
    margin-right: 2rem;
  } 
  #projets::before{
    @include icon("\f1c9", 2.5rem);
    margin-right: 2rem;
  } 
  .date{
    margin-top: 2rem;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
  }
  .intitule{
    margin-top: 2rem;
    font-size: 2rem;
  }
  .address{
    color: $darkblue;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
  }
  .school{
    color: $darkblue;
    font-weight: bold;
    font-size: 2rem;
  }

  .theme{
    font-size: 2rem;
  }
  .list-mission li{
    list-style-type: disc;
    margin-left: 1.5rem;
    margin-right: 5rem;
    text-align: justify;
    font-size: 1.8rem;
  }  
  .list-interets li{
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 15rem;
  }
  #interets::before{
    @include icon("\f0ae", 2.5rem, 2rem);
  }
  #cinema::before{
    @include icon("\f03d", 2rem, 1.1rem);
  }
  #musique::before{
    @include icon("\f001", 2rem, 1.5rem);
  }
  #poker::before{
    @include icon("\f155", 2rem, 2rem);
  }
  #golf::before{
    @include icon("\f024", 2rem, 1.2rem);
  }
}

aside{
  border-top: 2px solid lightgray;
  background-color: $lightblue;
  color: white;
  h2{
    width: 100%;
    background-color: lightgray;
    color: black;
    border-radius: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 2.5rem;
  }

  .logo-techno{
    width: 4rem;
    height: 4rem;
    margin-bottom: 5px;
  }

  #competences::before{
    @include icon("\f013", 2.5rem, 1.5rem);
  }

  h3{
    width: 96%;
    margin-left: 2%;
    background-color: white;
    color: black;
    border-radius: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 2.1rem;
  }
  h4{
    margin-right: 1rem;
    font-weight: bold;
    font-size: 2.2rem;
  }
  li{
    font-size: 1.5rem;
  }
  #list-langues li{
    font-size: 2rem;
  }
  .list {
    font-size: 2rem;
    p{
      text-align: justify;
      font-size: 2rem;
      font-style: italic;
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
  #langages::before{
    @include icon("\f121", 2.5rem);
  } 
  #langues::before{
    @include icon("\f1ab", 2.5rem);
  } 
  #technologies::before{
    @include icon("\f109", 2.5rem);
  } 
}